*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.footer{
    background-color: chocolate;
    display: flex;
    justify-content: center;
    gap:100px;
    align-items: center;
    position:fixed;
    bottom: 0;
    width: 100%;
}

.container{
    width: 230px;
    /* background-color: aqua; */
    padding: 15px;
    text-align: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 8px;
}
img{
    margin: 15px;
}